    .div20 {
      align-items: start;
      display: flex;
      flex-direction: column;
      color: #fff;
      font-weight: 700;
      justify-content: center;
    }
    @media (max-width: 991px) {
      .div20 {
        padding-right: 20px;
      }
    }
    .div-2 {
      align-items: start;
      display: flex;
      width: 597px;
      max-width: 100%;
      flex-direction: column;
      padding: 9px 80px 0 0;
    }
    @media (max-width: 991px) {
      .div-2 {
        padding-right: 20px;
      }
    }
    .div-3 {
      color: #34c9de;
      font: 600 24px Poppins, sans-serif;
    }
    .div-4 {
      margin-top: 39px;
      font: 48px Poppins, sans-serif;
    }
    @media (max-width: 991px) {
      .div-4 {
        font-size: 40px;
      }
    }
    .div-5 {
      border-radius: 20px;
      background: linear-gradient(90deg, #16807a 0%, #041a19 100%);
      margin-top: 160px;
      text-align: center;
      justify-content: center;
      padding: 24px 45px;
      font: 20px Poppins, sans-serif;
    }
    @media (max-width: 991px) {
      .div-5 {
        margin-top: 40px;
        padding: 0 20px;
      }
    }

    * {
  box-sizing: border-box;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.layout {
  width: 1366px;
  height: 768px;

  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}

.header { grid-area: header; }
.main { grid-area: main; }
.footer { grid-area: footer; }
.layout1 {
  width: auto;
  height: 620px;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 30% auto;
  gap: 8px;
}
#rectangle_12344 {
	top: 1027px;
	left: 286px;
	width: 868px;
	height: 693px;
	-ms-border-radius: 42px;
	-o-border-radius: 42px;
	-moz-border-radius: 42px;
	-webkit-border-radius: 42px;
	border-radius: 42px;
	background:rgba(16.7,59.04,56.64,1);
}
.layout2 {
  width: auto;
  height: 620px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  justify-content: center;
  align-items: center;
}
#rectangle_12346 {
	top: 1794px;
	left: 501px;
	width: 437px;
	height: 11px;
	-ms-border-radius: 5.5px;
	-o-border-radius: 5.5px;
	-moz-border-radius: 5.5px;
	-webkit-border-radius: 5.5px;
	border-radius: 5.5px;
	background:rgba(17,59,57,1);
}
.layout3 {
  width: auto;


  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  gap: 8px;
}
#__p__drones {
	top: 1794px;
	left: 501px;
	width: 248.6px;
	height: 112.6px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 56px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}
.layout4 {
  width: auto;
  height:20px;

  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  gap: 8px;
}
.layout5 {
  width: 1366px;
  height: 768px;

  display: grid;
  grid-template-rows: 30%;
  grid-template-columns: 30%;
  gap: 8px;
}
.blog-1-parent {
  display: grid;
  flex-direction: row;
  gap: 48px;
  grid-template-columns: repeat(3, minmax(265px, 1fr));
  font-size: var(--font-size-xl);
  font-family: var(--font-montserrat);
}
.blog-1 {
  background: linear-gradient(180deg, rgba(22, 128, 122, 0.08), #16807a);
  display: flex;
  height: 364px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 var(--padding-18xl) var(--padding-12xs);
  box-sizing: border-box;
  gap: 22px;
  z-index: 1;
  font-family: var(--font-poppins);
}
.blog-1-child {
  align-self: stretch;
  height: 464px;
  position: relative;
  border-radius: var(--br-lg);
  display: none;
}
.ptitle {
    width: 30vw; /* Set width to 50% of the viewport width */
    margin: 0 auto; /* Center the paragraph horizontally */
    padding: 20px; /* Optional: Add padding to the paragraph */
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card4 {
  position: relative;
  width: 300px;
  height: 450px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card4 svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card4:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card4:hover .card__content4 {
  transform: rotateX(0deg);
}

.card__title4{
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card4:hover svg {
  scale: 0;
}

.card__description4 {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}
  .layouthome {
  display: flex ; 
  margin-top: 15%; 
  margin-left: 10%;/* Réduire la marge gauche */
  }
    @media (max-width: 995px) {
    .layouthome{
     margin-top: 10%; /* Réduire la marge supérieure sur les petits écrans */
        margin-left: 0; /* Supprimer la marge gauche sur les petits écrans */
        flex-direction: column; /* Aligner les éléments en colonne sur les petits écrans */
        align-items: center; /* Centrer les éléments horizontalement sur les petits écrans */
    }
  }
    .column13 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 995px) {
    .column13 {
      width: 100%;
    }
  }
   .div-213 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin: auto 0;
    padding: 9px 20px 0;
  }
  @media (max-width: 995px) {
    .div-213 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
   .div-313 {
    margin-top: 39px;
    font: 48px Poppins, sans-serif;
    color: #34c9de;
  }
  @media (max-width: 995px) {
    .div-313 {
      max-width: 100%;
    }
  }
  .div-413 {
    margin-top: 36px;
    font: 32px Poppins, sans-serif;
  }
  @media (max-width: 995px) {
    .div-413 {
      max-width: 100%;
    }
  }
  .div-513 {
    color: #dedede;
    font-family: Rubik, sans-serif;
    font-weight: 400;
    line-height: 26px;
    margin-top: 35px;
  }
  @media (max-width: 995px) {
    .div-513 {
      max-width: 75%;
    }
  }
  .div-613 {
    font-family: Poppins, sans-serif;
    border-radius: 8px;
    background-color: #16807a;
    align-self: start;
    margin-top: 45px;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    padding: 11px 28px;
  }
  @media (max-width: 995px) {
    .div-613 {
      margin-top: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .column-213 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 42%;
    margin-left: 20px;
  }
  @media (max-width: 995px) {
    .column-213 {
      width: 100%;
    }
  }
  .div-713 {
    display: flex;
    flex-grow: 1;
    gap: 20px;
  }
  @media (max-width: 995px) {
    .div-713 {
      margin-top: 40px;
      flex-wrap: wrap;
    }
  }
  .div-813 {
    display: flex;
    gap: 7px;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-913 {
    background-color: #16807a;
    border-radius: 50%;
    align-self: start;
    margin-top: 114px;
   width: 200px ;
    height: 16px;
  }
  @media (max-width: 995px) {
    .div-913 {
      margin-top: 40px;
    }
  }
  .div-1013 {
    border-radius: 200px;
    border-color: rgba(221, 12, 142, 0.56);
    border-style: solid;
    border-width: 4px;
    display: flex;
    gap: 0px;
    flex-grow: 1;
    flex-basis: auto;
    padding: 30px 20px;
  }
  .img5 {
    aspect-ratio: 0.64;
    object-fit: auto;
    object-position: center;
    width: fit-content;
    flex-grow: 1;
    flex-basis: 0;
  }
  .div-1113 {
    background-color: #34c9de;
    border-radius: 50%;
    align-self: start;
    margin-top: 5px;
    width:  150px;
    height: 16px;
  }
  .div-1213 {
    background-color: #16807a;
    border-radius: 50%;
    align-self: end;
    margin-top: 410px;
    width:  150px;
    height: 16px;
  }
  @media (max-width: 995px) {
    .div-1213 {
      margin-top: 40px;
    }
  }
    .div14 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 995px) {
    .div14 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column14 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 44%;
    margin-left: 0px;
  }
  @media (max-width: 995px) {
    .column14 {
      width: 100%;
    }
  }
  .div-214 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 80px 0 46px;
  }
  @media (max-width: 995px) {
    .div-214 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .img14 {
    aspect-ratio: 1.25;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-top: 30px;
  }
  @media (max-width: 995px) {
    .img14 {
      max-width: 100%;
    }
 
    #rectangle_12344{
         width: 334px;
         height: 450px;
    }
    .layouthome{
     margin-top: 10%; /* Réduire la marge supérieure sur les petits écrans */
        margin-left: 0; /* Supprimer la marge gauche sur les petits écrans */
        flex-direction: column; /* Aligner les éléments en colonne sur les petits écrans */
        align-items: center; /* Centrer les éléments horizontalement sur les petits écrans */
    }
  }
  .column-214 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 995px) {
    .column-214 {
      width: 100%;
    }
  }
  .div-314 {
    display: flex;
    margin-top: 41px;
    flex-grow: 1;
    flex-direction: column;
    padding: 8px 20px 23px;
  }
  @media (max-width: 995px) {
    .div-314 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-414 {
    color: #34c9de;
    font: 600 24px Poppins, sans-serif;
  }
  @media (max-width: 995px) {
    .div-414 {
      max-width: 100%;
    }

  }
  .div-514 {
    color: #fff;
    margin-top: 33px;
    font: 700 56px Poppins, sans-serif;
  }
  @media (max-width: 995px) {
    .div-514 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-614 {
    color: #dedede;
    margin: 61px 32px 0 0;
    font: 400 12px/20px Rubik, sans-serif;
  }
  @media (max-width: 995px) {
    .div-614 {
      max-width: 100%;
      margin: 40px 10px 0 0;
    }
  }
  .div-714 {
    display: flex;
    margin-top: 41px;
    gap: 20px;
    padding: 4px 80px 4px 0;
  }
  @media (max-width: 995px) {
    .div-714 {
      max-width: 100%;
      flex-wrap: wrap;
      padding-right: 20px;
      margin-top: 40px;
    }
    .img0{
      display: flexbox; 
     
    }
  }
  .div-814 {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .div-914 {
    color: #16807a;
    font: 700 32px Poppins, sans-serif;
  }
  .div-1014 {
    color: #fff;
    margin-top: 18px;
    font: 600 16px Poppins, sans-serif;
  }
  .div-1114 {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .div-1214 {
    color: #34c9de;
    font: 700 32px Poppins, sans-serif;
  }
  .div-1314 {
    color: #fff;
    margin-top: 19px;
    font: 600 16px Poppins, sans-serif;
  }
  .div-1414 {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .div-1514 {
    color: #16807a;
    font: 700 32px Poppins, sans-serif;
  }
  .div-1614 {
    color: #fff;
    margin-top: 18px;
    font: 600 16px Poppins, sans-serif;
  }
  .shadow {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.stat {
  display: inline-grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.stat-title {
  grid-column-start: 1;
  white-space: nowrap;
  color: rgb(197, 194, 194);
  font: 600 16px Poppins, sans-serif;
}

.stat-value1 {
  color: #16807a;
  grid-column-start: 1;
  white-space: nowrap;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
}
.stat-value2 {
  color: #34c9de;
  grid-column-start: 1;
  white-space: nowrap;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
}




.stat-desc {
  grid-column-start: 1;
  white-space: nowrap;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(197, 194, 194);
}

  .layouthome {
  display: flex ; 
  margin-top: 15%; 
  margin-left: 10%;/* Réduire la marge gauche */
  }
  .layouthome2 {
   width: auto;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  gap: 8px;
  }

  @media (max-width: 995px) {
  .layouthome2 {
    grid-template-columns: auto; /* Réinitialiser les colonnes à 'auto' pour une mise en page flexible */
    gap: 5px; /* Réduire l'espacement entre les éléments */
  }
     .img3 {
       max-width: 75%;
    }
    .msg {
        font-size: 36px; /* Réduire la taille de la police pour une meilleure lisibilité sur les petits écrans */
        margin-bottom: 5%; /* Réduire l'espacement en bas pour un aspect plus compact */
        text-align: center; 
    }
        #__p__drones {
        top: auto; /* Réinitialiser la position verticale pour permettre le flux normal du document */
        left: auto; /* Réinitialiser la position horizontale pour permettre le flux normal du document */
        width: 100%; /* Faire en sorte que l'élément occupe toute la largeur disponible */
        height: auto; /* Réinitialiser la hauteur pour conserver les proportions de l'élément */
        font-size: 32px; /* Réduire la taille de la police pour une meilleure lisibilité sur les petits écrans */
        text-align: center; /* Centrer le texte pour une meilleure présentation sur les appareils mobiles */
    }
     .i-b-n-f-i-r-n-a-s-details {
        flex-direction: column; /* Aligne les éléments verticalement (en colonne) sur les petits écrans */
        align-items: stretch; /* Permet à chaque élément de s'étirer pour remplir la largeur disponible */
        justify-content: flex-start; /* Aligne les éléments en haut du conteneur */
        gap: var(--gap-sm); /* Réduit l'espacement entre les éléments sur les petits écrans */
    }
     .containercard {
        flex-direction: column; /* Aligne les éléments en colonne sur les petits écrans */
        align-items: stretch; /* Étire les éléments pour remplir la largeur du conteneur */
        justify-content: center; /* Centre les éléments verticalement sur les petits écrans */
        padding: 20px; /* Ajoute un espace intérieur pour un meilleur espacement sur les petits écrans */
    }
     .ibn-firnas2 {
        left: 50%; /* Positionne l'élément à 50% de la largeur du conteneur parent */
       
        text-align: center; /* Centre le texte horizontalement sur les petits écrans */
    }
    .card{
      gap: 3rem;
    }
 
}

.msg{
  
    text-align: center; 
   

}
.img3{
  margin-top:17%;
  margin-left: 6%;
width: 100%;

flex-shrink: 0;}